#selector-container {
  margin-top: 1em;
}

.selector {
  background-color: transparent;
  text-decoration: none;
  border: none;
  margin: 0;
  font-size: 1.6em;
  font-family: 'Didact Gothic', sans-serif;
}

.square {
  height: 2.5em;
  width: 2.5em;
}

.selector:focus, .selector.selected {
  outline-style: none;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-col-bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.selector-label {
  transition: color 2s;
  margin-bottom: 0.4em;
}

/* LENGTH SELECTORS */

.length.selector {
  border: none;
  color: var(--as-blue);
}

.length.selector:hover, .length.selector:focus, .length.selector.selected {
  color: var(--as-white);
  border-color: var(--as-light-blue);
  background-color: var(--as-light-blue);
  transition: color 0.3s, background-color 0.3s;
}

/* ERA SELECTORS */

.era.selector {
  border: none;
  font-size: 1.6em;
  font-family: 'Didact Gothic', sans-serif;
}

.era.selector.aladdin-sane {
  color: var(--as-dark-red);
}

.era.selector.aladdin-sane:focus, .era.selector.aladdin-sane:hover, .era.selector.aladdin-sane.selected {
  transition: color 0.5s;
  color: var(--as-red);
}

.era.selector.ziggy-stardust:hover {
  color: #0A222D;
}

.era.selector.ziggy-stardust, .era.selector.ziggy-stardust:focus, .era.selector.ziggy-stardust.selected {
  transition: color 0.5s;
  color: #2BA8DA;
}

.era.selector.thin-white-duke {
  text-shadow:
		-1px -1px 0 var(--as-white),
		1px -1px 0 var(--as-white),
		-1px 1px 0 var(--as-white),
		1px 1px 0 var(--as-white);
  color: black;
}

.era.selector.thin-white-duke:focus, .era.selector.thin-white-duke:hover, .era.selector.thin-white-duke.selected {
  transition: color 0.5s, text-shadow 0.5s;
  text-shadow:
    -1px -1px 0 var(--as-black),
    1px -1px 0 var(--as-black),
    -1px 1px 0 var(--as-black),
    1px 1px 0 var(--as-black);
  color: var(--as-white);
}

/* GENERATOR BUTTON */

#generator-button {
  height: 2.5em;
  font-family: 'Catamaran', sans-serif;
  font-weight: 800;
  font-size: 1.6em;
  border: none;
  color: var(--as-white);
  background-color: var(--as-blue);
  margin: 0.4em;
}

#generator-button:hover, #generator-button:focus {
  background-color: var(--as-light-blue);
  outline: none;
}
