@import './colors.css';

#content-container {
  width: 100%;
  max-width: 1000px;
  min-height: 100vh;
  margin: 0;
  transition: background-color 2s;
}

.headline {
  margin-top: 4em;
}

h1, .subheader {
  transition: color 2s;
}

h1 {
  font-size: 3em;
}


@media only screen and (min-width: 768px) {
  h1 {
    font-size: 6em;
  }
}