/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
#app-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: background-color 2s;
}

.catamaran, h1, h2, h3 {
  font-family: 'Catamaran', sans-serif;
  font-weight: 800;
}

p {
  font-size: 1.6em;
  line-height: 1.2em;
  color: var(--as-black);
}

footer {
  width: 100%;
  padding: 0.4em;
  font-size: 1.4em;
  text-align: center;
}

footer a {
  text-decoration: none;
  color: inherit;
}
